.education {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color:hsl(269, 75%, 67%);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edu-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.edu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edu-item {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edu-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.edu-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.edu-item p:last-child {
    margin-bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .education {
        margin: 20px auto;
        padding: 10px;
    }
    .edu-title {
        font-size: 20px;
    }
    .edu-item h4 {
        font-size: 16px;
    }
    .edu-item p {
        font-size: 14px;
    }
}