body {
    font-family: 'Segoe UI', sans-serif;
    background: lightskyblue;
}

.skill-section {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-card {
    background: pink;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card h3 {
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
}